ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul {
    display: flex;
    gap: 30px;
    align-items: center;
}

a {
    text-decoration: none;
    color: #2E2A26;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 18px;
}

.navbar{
    background-color: #8FA68E;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    padding: 15px 30px;
    background: #8FA68E;
}

ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    border-right:1px solid #2E2A26;
    width: auto;
    
}


.logo{
    height: 50px;
    padding-right: 20px;
    border-right: 1px solid #2E2A26;
    width: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #8FA68E;
    padding: 15px 30px;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search {
    display: flex;
    align-items: center;
    gap: 8px;
    
    background: #F5EFE6;
    padding: 8px 12px;
    border-radius: 15px;
    width: 220px;
    box-shadow: 0 2px rgba(0,0,0,0.1);
    overflow: hidden;
    border: 1px solid #2E2A26;
}

.search icon {
    width: 16px;
    height: 16px;
    object-fit: contain;
}

.search input {
    border: none;
    outline: none;
    background: transparent;
    margin-left: 8px;
    width: 100%;
}

.icon {
    font-size: 14px;
}

img {
    width: 20px !important;
    height: 20px !important;
}

.icon {
    fill: #2E2A26;
}

.hero {
    background: #8FA68E;
    text-align: center;
    padding: 80px 20px;

    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.hero h1 {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    margin-bottom: 20px;
}

.hero button {
    font-family: Playfair Display, serif;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background: #F5EFE6;
    box-shadow: 0 2px rgba(0,0,0,0.1);
}

.current-book {
    display: flex;
    gap: 20px;
    align-items: center;
}

.books {
    display: flex;
    gap: 20px;
}

body{
    margin: 0;
    background: #F5EFE6;
} 